<div class="container-fluid">
	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-primary">
				<div class="panel-heading">
					Start a new group
				</div>
				<div class="panel-body">
					<div class="form-group">
						<label>My group shall be called...</label>
						<input type="text" ng-model="groupname" class="form-control"/>
					</div>
					<input type="submit" class="btn btn-success custom-btn" value="Save" ng-click="newGroup()"/>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-primary">
				<div class="panel-heading">
					Invite a friend
				</div>
				<div class="panel-body">
					<div class="form-group">
						<label>Email</label>
						<input type="text" ng-model="email" class="form-control"/>
					</div>
					<div class="form-group">
						<label>Message</label>
						<textarea rows="3" class="form-control"></textarea>
					</div>
					<div>
						<input type="submit" class="btn btn-success custom-btn" value="Send"/>
						<a class="pull-right" ng-href="#/friend_invite">Preview the message you'll send</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>