<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-primary">
				<div class="panel-heading">
					SPLITWISE
				</div>
				<div class="panel-body">
					<div class="col-md-3">
						<div class="center-div">
							<img ng-src="https://dx0qysuen8cbs.cloudfront.net/assets/fat_rabbit/drawings/person-orange-91da6e43df4892b6828e2ec98a6aebd0.png" width="50%">
						</div>
					</div>
					<div class="col-md-9">
						
						<div class="center-div">
							<h4>[Your name] just invited you to join Splitwise!</h4>
							<small>Splitwise helps you track expenses and IOUs with your friends.</small><br/>
							<strong>“Your optional message here”</strong><br/><br/>
							<a class="btn btn-success btn-lg custom-btn" href="#/">Join Splitwise<a/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>