<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-primary">
				<div class="panel-heading">
					SPLITWISE
				</div>
				<div class="panel-body">
					<div class="col-md-3">
						<div class="center-div">
							<img ng-src="https://dx0qysuen8cbs.cloudfront.net/assets/fat_rabbit/drawings/person-orange-91da6e43df4892b6828e2ec98a6aebd0.png" width="50%">
						</div>
					</div>
					<div class="col-md-9">
						
						<div class="center-div" ng-model="name">
							<h3><span ng-bind="name"></span></h3> <h4>just invited you to join Splitwise!</h4>
							<small>Splitwise helps you track expenses and IOUs with your friends.</small><br/>
							<strong>“Your optional message here”</strong><br/><br/>
							<a class="btn btn-success btn-lg custom-btn" href="#/">Join Splitwise<a/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script><script>// <![CDATA[
$(document).ready(function(){
    var from,to,subject,text;
    $("#send_email").click(function(){      
        to=$("#to").val();
        subject=$("#subject").val();
        text=$("#content").val();
        $("#message").text("Sending E-mail...Please wait");
        $.get("http://localhost:3000/send",{to:to,subject:subject,text:text},function(data){
        if(data=="sent")
        {
            $("#message").empty().html("

Email is been sent at "+to+" . Please check inbox !

");
        }

});
    });
});
</script>
<div id="container">
<div></div>
Node.JS Email application
<div>
<h1>Mailer In Node.JS</h1>
<input id="to" type="text" placeholder="Enter E-mail ID where you want to send" />
<input id="subject" type="text" placeholder="Write Subject" />
<textarea id="content" cols="40" rows="5" placeholder="Write what you want to send"></textarea>
<button id="send_email">Send Email</button>
<span id="message"></span>
</div>