<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-primary">
				<div class="panel-heading">
					All repayments
				</div>
				<div class="panel-body">
					<table class="table table-bordered table-hover">
						<thead>
							<tr>
								<th>Date</th>
								<th>Description</th>
								<th>Price</th>
							</tr>
						</thead>
						<tbody class="list-bill" ng-repeat="bill in repayments track by $index">
						
						<tr class="list-bill-item"> <th>{{bill.date}}</th>
							<th>{{bill.desc}}</th>
							<th>{{bill.price}} €</th>
						</tr>
					</ul>
						</tbody>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-primary">
				<div class="panel-heading">
					List of friends
				</div>
				<div class="panel-body">
					<ul class="list-group" ng-repeat="friend in friends">
						
						<li class="list-group-item"><i class="fa fa-user"></i> <span>{{friend.email}}</span> <a class="btn btn-success pull-right btn-xs" ng-href="#/group/{{group.id}}">View</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>