<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<i class="fa fa-users"></i>
					<span ng-bind="name"></span>

					<div class="button-group pull-right"
					 ng-model="hash">
						
						<a  id="modal"  ng-href="#/group/{{hash}}#addBill" role="button" class="btn btn-success custom-btn btn-xs" data-toggle="modal">Add a bill</a>
						<a class="btn btn-success custom-btn btn-xs">Settle up</a>	
		

						<div id="addBill" class="modal"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        				<div class="modal-dialog">
          			
						<div class="panel panel-primary">
					<div class="panel-heading">
							
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>  	Add a bill     
					</div>
					<div class="modal-body">
					 <div class="center-div" >
							 <h4 class="text-primary">With you and {{name}}</h4>
							<small class="text-primary">Splitwise helps you track expenses and IOUs with your friends.</small><br/>
							
							<form class="form-inline" role="form">
								<div class="form-group">
    <label class="text-primary" for="groupbill.description">description</label>
    <input type="text" class="form-control" placeholder="description"  ng-model="groupbill.desc">
  </div>
  <div class="form-group">
    <label class="text-primary" for="groupbill.price">€</label>
    <input type="text" class="form-control" placeholder="0.00"  ng-model="groupbill.price">
  </div>
  
</form>
							
					      	<br/><br/>
					    
						
						</div>
            		</div>
            		<div class="modal-footer">
              		<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancel</button>
              		<input type="submit" class="btn btn-success custom-btn" value="Save" ng-click="newBill()"/>
          			</div>
          </div>
   
          </div>
      	  </div>
      	</div>
      </div>
                     		
				<div class="panel-body">
					<table class="table table-bordered table-hover">
						<thead>
							<tr class="active">
								<th>Date</th>
								<th>Description</th>
								<th>Price</th>
							</tr>
						</thead>
						<tbody class="list-bill" ng-repeat="bill in bills |filter:name">
						
						<tr class="list-bill-item"> <th>{{bill.date}}</th>
							<th>{{bill.desc}}</th>
							<th>{{bill.price}} €</th>
						</tr>
					</ul>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-primary">
				<div class="panel-heading">
					Groupe Settings
					<div class="button-group pull-right">
					</div>
				</div>
				<div class="panel-body">
						<uib-tabset justified="true">
						    <uib-tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disable="tab.disabled">
						      <div class="col-md-12">
						      	{{tab.content}}
						      </div>
						    </uib-tab>
						</uib-tabset>
				</div>
			</div>
		</div>
	</div>
</div>

		