<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-primary">
				<div class="panel-heading">
					All expenses
				</div>
				<div class="panel-body">
					<table class="table table-bordered table-hover">
						<thead>
							<tr class="active">
								<th>Date</th>
								<th>Description</th>
								<th>Price</th>
								<th>Group</th>
							</tr>
						</thead>
						<tbody>
							<tbody class="list-bill" ng-repeat="bill in bills">
						
						<tr class="list-bill-item"> <th>{{bill.date}}</th>
							<th>{{bill.desc}}</th>
							<th>{{bill.price}} €</th>
							<th>{{bill.groupname}}
							<a class="btn btn-danger pull-right btn-xs" ng-href="#/groups/#{{bill.id}}"><i class="fa fa-trash-o fa-lg"></i> Delete</a></th>

						</tr>
					</ul>
						
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-primary">
				<div class="panel-heading">
					List of groups
				</div>
				<div class="panel-body">
					<ul class="list-group" ng-repeat="group in groups">
						
						<li class="list-group-item"><i class="fa fa-users"></i> <span>{{group.name}}</span><a class="btn btn-success pull-right btn-xs" ng-href="#/group/{{group.id}}">View</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>