<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<i class="fa fa-users"></i>
					<span ng-bind="name"></span>

					<div class="button-group pull-right"
					 ng-model="hash">
						
						<a  id="modal"  ng-href="#/group/{{hash}}#myModal5" role="button" class="btn btn-success custom-btn btn-xs" data-toggle="modal">Add a bill</a>
						<a class="btn btn-success custom-btn btn-xs">Settle up</a>
						<div id="myModal5" class="modal"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h4 class="modal-title">Modal header 1</h4>
            </div>
            <div class="modal-body">
              <p>One fine body…</p>
            </div>
            <div class="modal-footer">
              <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Close</button>
              <button class="btn btn-primary">Save changes</button>
          </div>
        </div>
        </div>
      </div>
  					</div>
				</div>
				<div class="panel-body">
					<table class="table table-bordered table-hover">
						<thead>
							<tr>
								<th>Date</th>
								<th>Description</th>
								<th>Price</th>
							</tr>
						</thead>
						<tbody>

						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-primary">
				<div class="panel-heading">
					Groupe Settings
					<div class="button-group pull-right">
					</div>
				</div>
				<div class="panel-body">
						<uib-tabset justified="true">
						    <uib-tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disable="tab.disabled">
						      <div class="col-md-12">
						      	{{tab.content}}
						      </div>
						    </uib-tab>
						</uib-tabset>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
   

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" ></script>
