<div class="container-fluid">
	<div class="row">
		<div class="col-md-9">
			<div class="panel panel-primary">
				<div class="panel-heading">
					Your account
					<a  ng-model="name" class="btn btn-success custom-btn pull-right btn-xs"><span ng-bind="name"></span>
</a>
				</div>
				<div class="panel-body">
					<div class="col-md-3">
						<div class="center-div">
							<img src="https://dx0qysuen8cbs.cloudfront.net/assets/fat_rabbit/avatars/200-4a03472750dda254b5e7a8e1726bb5d3.png"><br/><br/>
							<input type="file" name="file" style="text-align:center"/><br/>
						</div><input type="submit" class="btn btn-success custom-btn" value="Upload"/>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label>First Name</label>
							<input type="text" placeholder=user.firstname class="form-control" ng-model="user.firstName"/>
						</div>
						<div class="form-group">
							<label>Email</label>
							<input type="text" class="form-control" ng-model="user.email"/>
						</div>
						<div class="form-group">
							<label>Password</label>
							<input type="text" class="form-control" ng-model="user.password"/>
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label>Last Name</label>
							<input type="text" class="form-control" ng-model="user.lastName"/>
						</div>
						<div class="form-group">
							<label>Phone</label>
							<input type="text" class="form-control"/>
						</div>
						<button type="button" class="btn btn-info custom-btn btn-block" ng-click="update()">Update</button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel panel-primary">
				<div class="panel-heading">
					Notifications <a class="btn btn-success custom-btn pull-right btn-xs">Save</a>
				</div>
				<div class="panel-body">
					<div class="panel panel-default">
					  <div class="panel-heading">GROUPS AND FRIENDS</div>
					  <div class="panel-body">
					    <ul class="list-group">
						  <li class="list-group-item">
						  	<small>When someone adds me to a group</small></li>
						  <li class="list-group-item"><small>When someone adds me as a friend</small></li>
						</ul>
					  </div>
					</div>
					<div class="panel panel-default">
					  <div class="panel-heading">EXPENSES</div>
					  <div class="panel-body">
					    <ul class="list-group">
						  <li class="list-group-item"><small>When a bill is added</small></li>
						  <li class="list-group-item"><small>When a bill is edited/deleted</small></li>
						  <li class="list-group-item"><small>When someone comments on a bill</small></li>
						  <li class="list-group-item"><small>When a bill is due</small></li>
						  <li class="list-group-item"><small>When someone pays me</small></li>
						</ul>
					  </div>
					</div>
					<div class="panel panel-default">
					  <div class="panel-heading">NEWS AND UPDATES</div>
					  <div class="panel-body">
					    <ul class="list-group">
						  <li class="list-group-item"><small>Monthly summary of my activity</small></li>
						  <li class="list-group-item"><small>Major Splitwise news and updates</small></li>
						</ul>
					  </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>