<div class="container">
	<div class="row">
		<div class="col-md-6">
			<img src="https://dx0qysuen8cbs.cloudfront.net/assets/fat_rabbit/logo-77d715b28f6e77582984a091b1588cea.png" width="150">
		</div>
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-12">
					<h3>INTRODUCE YOURSELF</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<form>
						<div class="form-group">
							<label>Hi there! My name is</label>
							<input type="text" class="form-control"/>
						</div>
					</form>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="button-group">
						<a class="btn btn-success custom-btn">Sign me up !</a>
						or
						<a ng-click="login()"> <img src="https://developers.google.com/+/images/branding/sign-in-buttons/Red-signin_Google_base_44dp.png" width="120"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="push"></div>
</div>