.navbar-custom {
    background-color:#5BC5A7;
    color:#ffffff;
    border-radius:0;
    border-color: #5BC5A7;
}

.navbar-custom .navbar-nav > li > a {
    color:#fff;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color:transparent;
}

.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
    background-color: #FFF;
}

.navbar-custom .navbar-brand {
    color:#FFF;
}

.navbar-custom .navbar-nav > .active > a, 
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
      color: #FFF;
      background: #FF5216;
      border:0px;
      font-weight: bolder;
 }

 .navbar-custom .navbar-brand:hover{
 	color: #FFF;
 }

.customer-container{
  margin-left:80px;
  margin-right:80px;
}

body{
  font-family: Futura,Trebuchet MS,Arial,sans-serif; 
}

.custom-btn{
  background-color:#FF5216;
  border-color:#FF5216;
}

.custom-btn:active,
.custom-btn:hover{
  background-color:#EE7544;
  border-color:#EE7544;
}

.center-div{
  text-align: center;
}

.panel > .panel-heading {
    background-image: none;
    background-color: #5BC5A7;
    color: white;
    border-color:#5BC5A7;
}

.panel{
  border-color:#5BC5A7;
}